<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.16/tailwind-experimental.min.css" rel="stylesheet">
</head>
<body class="overflow-hidden">
    <div class="container mx-auto bg-gradient-to-tr rounded-xl from-red-300 to-indigo-300 min-h-screen p-1 flex">
        <div class="w-3/12 bg-white rounded-xl rounded-tr-none  min-h-screen p-1 flex flex-col gap-1">
            <a href="/leave" class="h-14 w-full bg-red-500 rounded-lg flex items-center pl-4 font-bold text-white">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                  </svg>
                &nbsp;Chiqish
            </a>
            <%db.users.map(user => { %> 
                <p class="h-16 text-lg flex items-center rounded-xl pl-3 w-full font-bold <%=user.name === me ? "bg-blue-600 text-white" : "bg-gray-200 text-gray-900" %> "><%=user.name%></p>
            <% })  %> 
        </div>
        <div class="w-9/12 min-h-screen relative bg-gray-300 rounded-xl rounded-tl-none">
            <div>
                <%db.messages.map(msg => { %>
                    <div class="h-auto w-96 rounded-2xl bg-green-100  ml-3 mt-3 p-2 rounded-bl-none">
                        <h3 class="font-bold text-sm text-gray-800"><%=db.users.filter(user => user.id === msg.user_id)[0].name %> </h3>
                        <h3 class="text-lg"><%=msg.text %> </h3>
                    </div>
                <%}) %>  
            </div>
            <form action="/chat" method="POST" class="w-full h-12 absolute bottom-0 left-0 rounded-xl rounded-bl-none flex gap-2 bg-blue-200 p-1">
                <input type="text" class="w-10/12 h-full rounded-xl px-2 outline-none ring-indigo-600 focus:ring-2" placeholder="Type message..." name="text">
                <button type="submit" class="w-2/12 h-full bg-blue-500 rounded-md font-bold text-xl text-white">Send</button>
            </form>
        </div>
    </div>
</body>
</html>