<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body class="overflow-hidden">
    <div class="container">
        <div class="user-list">
            <a href="/leave" class="leave">
                <svg xmlns="http://www.w3.org/2000/svg" class="svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                  </svg>
                &nbsp;Chiqish
            </a>
            <%db.users.map(user => { %> 
                <p class="user <%=user.name.toLowerCase() === me.toLowerCase() ? "me" : "" %> "><%=user.name%></p>
            <% })  %> 
        </div>
        <div class="chat">
            <div class="chat-sect">
                <%db.messages.map(msg => { %>
                    <div class="msg">
                        <h3 class="msg-from"><%=db.users.filter(user => user.id === msg.user_id)[0].name %> </h3>
                        <h3 class="msg-text"><%=msg.text %> </h3>
                    </div>
                <%}) %>  
            </div>
            <form action="/chat" method="POST" class="chat-field">
                <input type="text" class="input" placeholder="Type message..." name="text">
                <button type="submit" class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z" />
                      </svg>
                    Send
                </button>
            </form>
        </div>
    </div>
</body>
</html>